#aboutus {
}

#logo {
  filter: drop-shadow(5px 5px 5px black);
  height: 300px;
}

#emp {
  text-decoration: none;
}

.orderbtn:hover {
  background-color: #ffb579;
  color: white;
}

.orderbtn {
  color: var(--bs-emphasis-color);
  background: #fd7e14;
}

#sendMessageButton {
  background: rgb(253,126,20);
}

#sendMessageButton:hover {
  background: rgb(255,204,162);
}

#menuhead {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mainNav .navbar-nav, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fd7e14;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fd7e14;
}

#menu {
  height: 110vw;
}

